.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-line svg {
  width: 430px;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}
.search-button {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  height: 33px;
  border-radius: 3px;
}
#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
}

#input-area {
  display: none;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
  color: blue;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #000;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: beige;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  padding: 15px;
  border-bottom: 2px solid black;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* image  */
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  margin-left: 180px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  margin-left: 180px;
}
.contant_box_404 {
  margin-top: -50px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  color: beige;
}
